body
{
	margin:0px;
	background: #fff6e6; /* url('images/2020\ Website\ header.png'); */
	/* #fff6e6; */ /* linear-gradient(orangered,blue); */ /*url('images/album_art/bltb-graphicsonly-bg.jpg');*/
	background-size: 100% auto;
}

/* -------------------- START: Styles for navigation -------------------- */
ul.nav
{
	padding: 8px;
	border: 0px solid #ccc;
	border-radius: 0px 0px 7px 7px;

	max-width:684px;
	margin-top: 0;
	margin-left:auto;
	margin-right:auto;

	list-style-type:none;
	
	background: rgba(255,255,255,0.8);
	
	font-family:georgia, times, serif;
	font-variant: small-caps;
	font-size: 1.2em;
}

ul.nav > li {
	display: inline;
}

ul.nav > li > a
{
	padding: 8px 20px;
	text-decoration:none;
	color: #444;
	
	transition: box-shadow .2s linear;
}

ul.nav > li > a:hover
{
	color: #000;
    box-shadow: 0px 0px 7px #888; /* box-shadow:inset 0px 0px 7px #888; */
	transition: box-shadow .2s linear;
}
/* -------------------- END: Styles for navigation -------------------- */

div.header
{
	margin:0px;
	
	width:700px;
	margin-left:auto;
	margin-right:auto;
	
	border-top:none;
	border: 0px solid #ccc;
	border-radius: 0px 0px 7px 7px;
}

div.header > h1
{
	margin:0px;
	padding:10px 10px 0px 10px;
	
	text-transform:lowercase;
	text-shadow: #fff 0px 0px 3px;
	text-align: center;
	letter-spacing: -4px;
	
	font-family: helvetica, arial, sans-serif;
	font-weight:100;
	font-size:5em;
	color:#000;
}

/* -------------------- START: Styles for content -------------------- */
div.content
{
	margin-top: 0.5rem;
	padding: 0px 0px 10px 0px;
	
	background:#fff;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
	
	border: 0px solid #ccc;
    box-shadow: 0px 0px 1rem #aaa; /* box-shadow:inset 0px 0px 15px #888; */
	
	overflow:hidden;
}

div.content .padded
{
	padding-left:20px;
}

div.content > h1
{
	margin:0px;
	padding:10px 10px 0px 10px;
	
	font-family:georgia;
	font-weight:normal;
	font-size:12pt;
	
	text-transform:uppercase;	
	text-align:center;
	letter-spacing:2px;
	
	color:#777;
}

div.content > .center
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.content > img.left
{
	margin:20px;
	margin-right:20px;
	float:left;
}

div.content > p
{
	padding:0px 30px;
	font-family: georgia, times, serif;
	font-size:1.2em;
	color:#222;
	line-height:1.6em;
	
	text-align:left;
}

div.content > p > a
{
	color: #888;
}

div.content > p > a:hover
{
	text-decoration:none;
}

div.content > hr
{
	border:0px;
	border-top: 1px solid #eee;
}

div.content > .center
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

div.content > h2.lefty
{
	padding-left:20px; 
	padding-right:20px; 
	font-weight:normal;
	font-family:georgia;
	font-size:20pt;
	color:#888;
}

img.social
{
	padding-left:10px;
	padding-right:10px;
}

/* button css adapted from https://fdossena.com/?p=html5cool/buttons/i.frag */

a.button1{
	display:inline-block;
	padding:0.35em 1.2em;
	border: 1px solid black;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:300;
	text-align:center;
	transition: all 0.2s;
	background-color: rgb(151, 202, 50);
}
a.button1:hover{
	color:#000000;
	background-color:#FFFFFF;
}
@media all and (max-width:30em){
	a.button1{
	display:block;
	margin:0.4em auto;
	}
} 

.bouncy{
	animation:bouncy 5s infinite linear;
	position:relative;
	}
	@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
} 

/* -------------------- END: Styles for content -------------------- */

div.footer
{
	margin-top:10px;
	
	background:#fff;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	
	border: 0px solid #ccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	
	opacity:0.8;
	filter:alpha(opacity=80);
}

div.footer > p
{
	padding:5px 20px;
	font-family: georgia;
	font-size:10pt;
	color:#444;
	text-align:right;
	text-transform:lowercase;
}

div.nonexistent
{
	display:none;
}

/* START: MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup {background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}     
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}
/* END: MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */